
body{
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    height: 100%;
  background-color: rgba(104, 201, 195, 0.04);
}
header img{
    width: 320px;
    height: 300px;
    margin-top: -125px;
    margin-left: -20px;
}
header{
    background-color:rgba(208, 226, 243, 0.62);
    height: 90px;
    width:100% ;
    margin-top: -10px;
    margin-left: -8px;
}
.conteneur{
    margin-left: 20px;
    margin-right: 20px;
    /* width: 100%; */
}

.conteneur .question{
    background-color:rgba(208, 226, 243, 0.62);
    font-size: 18px;
    color: rgba(136, 147, 81, 0.51);
    
}
.boutonOption{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    padding: 20px;
    margin-left: -25px;
}

input[type="submit"]{
    padding: 10px;
    border-radius: 10px;
    width: 170px;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(136, 147, 81, 0.795);
    box-shadow: 1px 2px 1px ;
    border: solid 1px black;
    background-color:rgba(208, 226, 243, 0.62);
}
input[type="submit"]:hover{
    /* padding: 10px;

    
    text-align: center;
    margin-bottom: 20px; */
    border-radius: 15px;
    width: 170px;
    scale: 1.5;
    color: rgba(136, 147, 81, 0.795);
    transition: all 0.5s;

    background-color:rgba(208, 226, 243, 0.62);
}
.groupDroit p{
    margin-top: 75px;
}
.groupGauche p{
    margin-top: 75px;
}
.boutonDeconnexion{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
   
}
.boutonOption{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    padding: 20px;
    margin-left: -25px;
}
.boutonDeconnexion{
    text-align:center;
}
.erreur{
    color:red;
}
.confirmation{
    color:green;
}
